* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+Pro:wght@300;600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

.nav-bar a {
    font-size: 20px;
    font-weight: bold;
}

.carousel-inner {
    max-height: 37rem;
}

.subir {
    height: 35px;
    width: 35px;
    font-size: 30px;
    line-height: 32px;
    border-radius: 100%;
    color: rgb(0, 102, 255);
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.subir{

    box-shadow:  0 0 20px 0 rgb(255, 0, 0)
}